.vs/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
obj/
bin/
artifacts/
wwwroot/
node_modules/
*.user
.pnpm-debug.log
temp/

# Mac
.DS_Store

